<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Cat List</h1>
<form th:action="@{cat.list}" method="get">
    <input type="text" name="criteria" th:value="${searchCriteria}" placeholder="search by name...">
    <button type="submit">Search</button>
</form>
<table>
    <tr>
        <th>Breed</th>
        <th>Fur</th>
        <th>Pattern</th>
        <th>Eye Color</th>
        <th>Full Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Birthday</th>
    </tr>
    <tr th:each="cat : ${catList}">
    <td th:text="${cat.breedCode}">
    <td th:text="${cat.furColorCode}">
    <td th:text="${cat.patternCode}">
    <td th:text="${cat.eyeCode}">
    <td th:text="${cat.fullCode}">
    <td th:text="${cat.name}">
    <td th:text="${cat.gender}">
    <td th:text="${cat.age}">
    <td th:text="${cat.dateOfBirth}">
  </td>
</table>

<h3><a th:href="@{/}">Tilbage til home</a></h3>

</body>
</html>