<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserProfile</title>
</head>
<body>
<form th:action="@{/createUserProfile}" th:object="${UserProfile}" method="post">
    <div class="field">
        <label for="name">:navn</label><br>
        <input type="text" id="name" th:field="*{name}"><br><br>
    </div>
    <div class="field">
        <label for="lastname">:efternavn</label><br>
        <input type="text" id="lastname" th:field="*{lastName}"><br><br>
    </div>
    <label for="gender">Køn</label>
    <select id="gender" th:field="*{gender}" required>
        <option value="">-- vælg --</option>
        <option th:each="g : ${genders}"
                th:value="${g}"
                th:text="${g}"></option>
    </select>
    <button type="submit">Opret</button>
</form>

</body>
</html>