<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Create Account</h1>


<form th:action="@{/register}" th:object="${registerWrapper}" method="post">

    <div class="field">
    <label for="email">Email:</label><br>
    <input type="text" id="email" th:field="*{authLogin.email}" required><br><br>
    </div>
    <div class="field">
    <label for="password">Password:</label><br>
    <input type="password" id="password" th:field="*{authLogin.password}" required><br><br>
    </div>
    <div class="field">
        <label for="name">navn:</label><br>
        <input type="text" id="name" th:field="*{user.name}" required><br><br>
    </div>
    <div class="field">
        <label for="lastname">efternavn:</label><br>
        <input type="text" id="lastname" th:field="*{user.lastName}" required><br><br>
    </div>
    <div class ="field-row">
        <div class="field">
            <label for="gender">Køn</label>
            <select id="gender" th:field="*{user.gender}" required>
                <option value="">-- vælg --</option>
                <option th:each="g : ${genders}"
                        th:value="${g}"
                        th:text="${g}"></option>
            </select>
        </div>
    </div>
    <button type="submit">Opret</button>

</form>

<div class="divider">eller</div>

<h3><a th:href="@{error}">Til Start</a></h3>

<h3><a th:href="@{login}">Til Login</a></h3>
</body>
</html>