<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Create Account</h1>

<form th:action="@{/register}" th:object="${UserLogin}" method="post">

    <label for="email">Email:</label><br>
    <input type="text" id="email" th:field="*{email}"><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" th:field="*{password}"><br><br>

    <button type="submit">Opret</button>
    <a href="/login"><button type="button">Log ind</button></a>
</form>

<h3><a th:href="@{error}">Til Start</a> </h3>

<h3><a th:href="@{login}">Til Login</a> </h3>
</body>
</html>