<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>user List</h1>
<table>
    <tr>
        <th>Navn</th>
        <th>Efternavn</th>
        <th>Køn</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.name}">
        <td th:text="${user.lastName}">
        <td th:text="${user.getGender()}">
        <td th:text="${user.getUsersLogin().email}">
        </td>
</table>
<h3><a th:href="@{/}">Tilbage til home</a></h3>

</body>
</html>